
To create a new IBM Cloud app using the Internet of Things Platform Starter.
(https://cloud.ibm.com/catalog/starters/internet-of-things-platform-starter)

Cloud Foundry App
Region: Dallas
SDK for Node.js™ - Default Plan
Cloudant - Lite Plan
Internet of Things Platform - Lite Plan
App name: cf-iot-lz
Host name: cf-iot-lz
Domain: mybluemix.net
Org: zhangllc@outlook.com
Space: dev

